@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h2 class="display-3 fw-bolder text-white mb-2 center-block " style="text-align:center;"> Welcome to
     <b> Vehicle management system</b> </h2>
   
    <img class="img-fluid img-rounded" style="height:80%; width:100%;" src="~/Content/Images/cover.jpg" />

    <p class="lead fw-normal text-white-50 mb-4">Our system keep track of the cars, buses and bikes of a specific company and their possible components 
    (brand - model- engine- doors - glass - color- ...) 
    Customers can see list of cars on it and buy from it or add to favourite list .</p>
    <a class="btn btn-primary btn-lg px-4 me-sm-3" onclick="location.href='@Url.Action("Products", "User")'"">Get Started</a>
</div>
