@model VehicleManagementSystem.Models.Vehicles
@{
    ViewBag.Title = "Create new vehicle ";
}
@Html.AntiForgeryToken()
<div style=" display: block; vertical-align: middle;  ">
    <h1>@ViewBag.Title</h1>
</div>
<div class="container-fluid " style=" display: block; vertical-align: middle;  ">
    <div class="row" style=" display: inline-block; vertical-align: middle;  ">

        <!-- for cars  -->
        <div class="card col-lg-4 " style="  width: 18rem; background-color: #DCDCDC; margin-right: 10px;">
            <img src="~/Content/Images/cars.jpg" class="card-img-top" style="width:100%; height:60%;" alt="...">
            <div class="card-body" style="margin: auto; text-align: center ">
                <h3 id="Car" class="card-title"><b>  Car   </b></h3>
                @using (Html.BeginForm("AddVehicle", "Car", new { vehicleType = "Car" }))
                {
                    <p class="card-text">If you want to add new car to your company  .</p>
                    <button class="btn btn-primary" type="submit">  Press here   </button>
                }

            </div>
        </div>

        <!-- for bus  -->
        <div class="card col-lg-4" style="width: 18rem ; background-color: #DCDCDC ;">
            <img src="~/Content/Images/cars.jpg" class="card-img-top" style="width:100%; height:60%;" alt="...">
            <div class="card-body" style="margin: auto; text-align: center ">
                <h3 id="Bus" class="card-title"><b>  Bus  </b></h3>
                @using (Html.BeginForm("AddVehicle", "Bus", new { vehicleType = "bus" }))
                {
                    <p class="card-text">If you want to add new bus to your company  .</p>
                    <button class="btn btn-primary" type="submit">  Press here   </button>
                }

            </div>
        </div>

        <!-- for bikes  -->
        <div class="card col-lg-4" style="width: 18rem ; background-color: #DCDCDC ;">
            <img src="~/Content/Images/cars.jpg" class="card-img-top" style="width:100%; height:60%;" alt="...">
            <div class="card-body" style="margin: auto; text-align: center ">
                <h3 id="Car" class="card-title"><b>  Bike   </b></h3>
                @using (Html.BeginForm("AddVehicle", "Cars1", new { vehicleType = "bike" }))
                {
                    <p class="card-text">If you want to add new bike to your company  .</p>
                    <button class="btn btn-primary" type="submit">  Press here   </button>
                }

            </div>
        </div>
    </div>
</div>

